/* Readjusting base layout for the entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FIX DRY! = compress repeating code to utility classes */
/* Utility styling to be applied to multiple elements */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #ffc75ee2;
}
body::-webkit-scrollbar {
  display: none;
}

/* Group styling on headliners to give them some air */
h1,
h2,
h3,
h4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-shadow: 0 0 8px #9cffde;
  text-align: center;
}
h1 {
  color: #101112;
  font-size: 100px;
}

/* Rotating imgs - Herobanner - Styling */
.carousel {
  width: 100vw;
  overflow-x: auto;
  height: 34rem;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  justify-content: center;
  align-items: center;
  /* padding-right: 0; */
  animation: spin 20s infinite linear;
}
.group::-webkit-scrollbar {
  display: none;
}
/* the image conatiner styling */
.imgContSlide {
  justify-content: center;
  align-items: center;
  flex: 0 0 52rem;
  overflow-y: auto;
}
/* Adjusting img files to fit their container */
img {
  width: 100%;
}
/* Animation for the rotation */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
  /* Should be seamless animation now, but have yet to check if it works with different size screens */
}

/* Layout styling til velksomtekst h1, h2 og p */
.welcomeTxt {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 8rem 5rem 8rem;
}

/* Workshops and classes cards styling */
.workshInfo {
  align-items: center;
  margin: 1.5rem;
  padding: 0 5rem 0 5rem;
}

.actiCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

/* Note: The cards will also function as buttons to their dedicated page when said page is ready */
.actiCard {
  background-color: #9cffde;
  padding: 3rem;
  border: 5px dotted #149f9f;
  border-radius: 25px;
  max-width: 36rem;
  /* Ready to activate when the other pages are done */
  /* cursor: pointer; */
  transition: transform 0.5s ease-in-out;
}

.actiCard:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 8px #149f9f;
}

.workshCardImg {
  justify-content: center;
  max-width: 28rem;
  max-height: 18.5rem;
  object-fit: contain;
  object-position: center center;
  overflow: hidden;
}

.actiClassInfo {
  font-style: italic;
  padding: 1rem;
}
.actiInfoBoldTxt {
  font-weight: bold;
}

/* Sign up form styling */
/* NOTE!! FIX responsive styling, DIS NO WORK ON SMALLER SCREENS */
form {
  align-items: center;
  background-color: #9cffde;
  width: 60vw;
  margin: auto; /*Note To self: FIX to be responsive asap, ya DINGUS!*/
  padding: 3.5rem;
  border: 1.5px solid #149f9f;
  border-radius: 15px;
}

label {
  font-size: large;
  font-weight: bold;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 6rem;
  margin-top: 2rem;
}

.formGrid > input {
  width: 25rem;
  padding: 0.5rem;
}

.wsAndcOptions {
  margin-top: 3rem;
  row-gap: 1rem;
}

.wsAndcOptions > select {
  width: 35rem;
  padding: 0.5rem;
  text-align: center;
}

.wsAndcOptions > label {
  text-align: center;
}
.workshopOptionCont {
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}
.whOptionGap {
  row-gap: 0.5rem;
}

/* GalleryGrid */
.imgGallery {
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
}
.imgGalleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 85vw;
}
.imgContGallery {
  width: 26rem;
  height: 16rem;
  overflow-y: hidden;
}
