/* Readjusting base layout for the entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* FIX DRY! = compress repeating code to utility classes */
/* Utility styling to be applied to multiple elements */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerAll {
  align-items: center;
  justify-content: center;
}
.txtCenter {
  text-align: center;
  margin-bottom: 2rem;
}

/* Adding color to the whole page background */
body {
  background-color: #ffc75ee2;
}
body::-webkit-scrollbar {
  display: none;
}

/* Group styling on headliners to give them some air */
h1,
h2,
h3,
h4 {
  padding-bottom: 1rem;
  text-shadow: 0 0 8px #9cffde;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}
h1 {
  color: #101112;
  font-size: 100px;
}
/* Navbar and buttons styling */
.navHero {
  position: relative;
}

.navBtnBar {
  column-gap: 1.8rem;
  position: fixed;
  z-index: 10;
  top: 15px;
  left: 30%;
  /* Dunno why there's weird shadow, figure out and fix it! */
}

.navBtns {
  min-width: 4.5rem;
  padding: 0.5rem 1rem;
  background-color: #9cffde82;
  font-size: larger;
  letter-spacing: 1px;
  color: black;
  /* txt shadow to attempt impriving contrast, still needs more improving here.. */
  text-shadow: 0px 0px 8px #d7fff2;
  border-radius: 10px;
}
.navBtns:hover {
  cursor: pointer;
  background-color: #9cffded9;
}

/* Rotating imgs - Herobanner - Styling */
.carousel {
  width: 100vw;
  overflow-x: auto;
  height: 34rem;
  /* I'm disabling the mouse from scrolling this animation as my method isn't foolproof yet and if scrolled it will show 
  an empty gap where the animation can't catch up */
  pointer-events: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

/* I'll admit I'm still working on becoming familiar with this code with classNames carousel and group, as I was 
inspired by a youtube tutorial */
.group {
  animation: spin 20s infinite linear;
}
.group::-webkit-scrollbar {
  display: none;
}
/* the image conatiner styling */
.imgContSlide {
  flex: 0 0 52rem;
  overflow-y: auto;
}
/* Adjusting img files to fit their container */
img {
  width: 100%;
}
/* Animation for the rotation */
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
  /* Should be seamless animation now, but have yet to check if it works with different size screens */
}

/* Layout styling til velksomtekst h1, h2 og p */
.welcomeTxt {
  text-align: center;
  padding: 6rem 8rem 5rem 8rem;
  margin-bottom: 2rem;
}

/* Workshops and classes cards styling */
.workshInfo {
  align-items: center;
  margin: 1.5rem;
  padding: 0 5rem 0 5rem;
}

.actiCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

/* Note: The cards will also function as buttons to their dedicated page when said page is ready */
.actiCard {
  background-color: #9cffde;
  padding: 3rem;
  border: 5px dotted #149f9f;
  border-radius: 25px;
  max-width: 36rem;
  gap: 2rem;
  /* Ready to activate when the other pages are done */
  /* cursor: pointer; */
  transition: transform 0.5s ease-in-out;
}

.actiCard:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 8px #149f9f;
}

.workshCardImg {
  justify-content: center;
  max-width: 28rem;
  max-height: 18.5rem;
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 1rem;
}

.actiClassInfo {
  font-style: italic;
  padding: 1rem;
}
.actiInfoBoldTxt {
  padding-top: 1rem;
  font-weight: bold;
}

/* Sign up form styling */
/* NOTE!! FIX responsive styling, DIS NO WORK ON SMALLER SCREENS */
form {
  align-items: center;
  background-color: #9cffde;
  width: 60vw;
  margin: auto; /*Note To self: FIX to be responsive asap, ya DINGUS!*/
  padding: 3.5rem;
  border: 1.5px solid #149f9f;
  border-radius: 15px;
}

label {
  font-size: large;
  font-weight: bold;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 4.5rem;
  margin-top: 2rem;
}

.formGrid > input {
  max-width: 25rem;
  min-width: 20rem;
  padding: 0.5rem;
}
.formGrid > select {
  cursor: pointer;
}
/* add responsive styling for phone-screens to make the grid collapse into 1 column! */

.wsAndcOptions {
  margin-top: 3rem;
  row-gap: 1rem;
}

.wsAndcOptions > select {
  width: 35rem;
  padding: 0.5rem;
  cursor: pointer;
}

.workshopOptionCont {
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}
.wsOptionGap {
  row-gap: 0.5rem;
  text-align: left;
}
.wsOptionGap > input {
  cursor: pointer;
}

/* The submit part of the form */
.signUpSubmit {
  gap: 2rem;
}
.emailSubmit {
  width: 30rem;
  padding: 0.5rem;
}

/* Deafult styling for btn before email value is accepted in js */
.btnSubmDefault {
  width: 15rem;
  background-color: rgb(212, 212, 212);
  color: rgb(129, 129, 129);
  border-radius: 15px;
  padding: 0.8rem;
}
/* Styling for when button is activated on js accepting email value */
.btnSubmit {
  width: 15rem;
  border: 2px solid #149f9f;
  border-radius: 15px;
  background-color: #c6ffec;
  padding: 0.8rem;
  transition: transform 0.5s ease-in-out;
}

.btnSubmit:hover {
  background-color: #8ff0f0b4;
  transform: scale(1.03);
  box-shadow: 3px 3px 8px #149f9f;
  cursor: pointer;
}

/* GalleryGrid */
.imgGallery {
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 6rem;
}
/* NOTE! Need to add more images or swap some to display mosaic art as well! -- 
In the separate img gallery I would like to have two displays; one for art from the classes adn wone with art from the 
workshops */
.imgGalleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 85vw;
  /* Add option to click the grid -> go to galleryPage? */
}
.imgContGallery {
  width: 26rem;
  height: 16rem;
  overflow-y: hidden;
}

/* Footer styling */
footer {
  background-color: #9cffde;
  min-height: 20rem;
  padding: 7rem;
}

.navBtnBarF {
  column-gap: 5rem;
  margin-bottom: 5rem;
}

.navBtnBarF > a {
  color: #0f7979;
  letter-spacing: 0.5px;
}

.contactMediaLinks {
  gap: 2rem;
  justify-content: space-evenly;
}

/* Sapcing between the contact info details, for better readability */
.contact > .flexRow {
  gap: 1rem;
}

.contact > h6 {
  margin-bottom: 2rem;
  justify-content: space-evenly;
}
.boldTxt {
  font-weight: bold;
}

h6 {
  font-size: large;
  letter-spacing: 0.6px;
}
