/* Readjusting base layout for the entire page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc75ee2;
}
body::-webkit-scrollbar {
  display: none;
}

/* Group styling on headliners to give them some air */
h1,
h2,
h3,
h4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.carousel {
  display: flex;
  flex-direction: row;
  /* margin: 90px; */
  width: 100vw;
  /* border: 5px solid red; */
  overflow-x: auto;
  /* overflow-y: hidden; */
  height: 34rem;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  animation: spin 20s infinite linear;
}
.group::-webkit-scrollbar {
  display: none;
}
/* the image conatiner styling */
.imgContSlide {
  justify-content: center;
  align-items: center;
  flex: 0 0 52rem;
  overflow-y: auto;
}
/* Adjusting img files to fit their container */
img {
  width: 100%;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.welcomeTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7rem;
  /* background-color:; */
}

.workshInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  padding: 0 5rem 0 5rem;
}

.actiCardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.actiCard {
  background-color: rgb(156, 255, 222);
  padding: 3rem;
  border: 5px dotted rgb(20, 159, 159);
  border-radius: 25px;
  max-width: 36rem;
  /* Ready to activate when the other pages are done */
  /* cursor: pointer; */
}

.actiClassInfo {
  font-style: italic;
  padding: 1rem;
}
.actiInfoBoldTxt {
  font-weight: bold;
}

.workshCardImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 28rem;
  max-height: 18.5rem;
  object-fit: contain;
  object-position: center center;
  overflow: hidden;
}
